@layout("7250-Music Recommend"){
    <p>
       Hotel Recommend
    </p>
    <form name="input" action="" method="get">
        <div>

        </div>
        Username: <input type="text" name="user">
        Username: <input type="text" name="user">
        Username: <input type="text" name="user">
        Username: <input type="text" name="user">
        Username: <input type="text" name="user">
        Username: <input type="text" name="user">
        <input type="submit" value="Submit">
    </form>

}